.app__menu {
    flex-direction: column;
    background-color: var(--color-black);
}

.app__menu-title {
    margin-bottom: 2rem;
    text-align: center;
}

.app__menu-menu {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.app__menu-menu_heading {
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: 0.04em;
    color: var(--color-white);
}

.app__menu-menu_tea,
.app__menu-menu_cocktails {
    width: 100%;
    flex: 1;
    flex-direction: column;
}

.app__menu-menu_img {
    margin: 0 2rem;
    width: 410px;
}

.app__menu-menu_img img {
    width: 100%;
    height: auto;
}

.app__menu-menu_items {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 100%;
}

@media screen and (max-width: 2000px) {
    .app__menu-menu_img {
        width: 650px;
    }

    .app__menu-menu_img img {
        height: 920px;
    }
}

@media screen and (max-width: 1150px) {
    .app__menu-menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .app__menu-menu_img {
        margin: 3rem 0;
    }
}

@media screen and (max-width: 650px) {
    .app__menu-menu_img {
        width: 100%;
    }

    .app__menu-menu_heading {
        font-size: 35px;
        line-height: 45.5px;
    }
}